*{
    background: #1f204c;
    color: white;
    text-decoration: none;
    
    h1 {
      color: #ffb01c;
      text-align: center;
      font-size: large;
    }
    
    h3{
      text-align: center;
      font-size: 40px;
      color: #0d838c;
      padding: 0;
      margin: 0;
    }
    
    p {
      text-align: center;
      font-size: 20px;
    }
    
    ul{
      width: 100%;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 0; 
      margin: 0;
      font-size: 20px;
      
    }
    
    li{
      width: 80px;
      padding-right: 80px;
      text-align: center;
      align-items: center;
    }
  }
  