.nav-container {
  border: 2px solid pink;
  display: flex;
  width: 1200px;
  height: 30px;
  max-width: 1440px;
  align-items: center;
  align-self: center;
  padding: 40px 0;
  margin: 0 auto;
  position: relative;
}
.nav-container .nav {
  text-align: center;
}
